<div class="row">
  <div class="left-panel float-left">
    <img src="./assets/images/welcome-image.svg" alt="welcome-image" class="welcome-image">
  </div>
  <div class="right-panel float-right">
    <div class="header">
      <div class=""> Life is short </div>
      <div class=""> and the world is wide ! </div>
    </div>

    <div class="details">
      Stay at the comfort of your homes and book a trip to travel after the post pandemic era.
    </div>

    <div class="btn">
      <button class="dark-btn"> plan a trip </button>
    </div>
  </div>
</div>
