<div class="page-body">
  <section class="topnav">
    <div class="navbar">
      <div class="menu" (click)="onScrollTo(weather)"> weather </div>
      <div class="menu" (click)="onScrollTo(destinations)"> destinations </div>
      <div class="menu" (click)="onScrollTo(quote)"> get a quote </div>
    </div>
  </section>

  <section #welcomeTemplate class="welcome-template">
    <app-welcome-page></app-welcome-page>
  </section>

  <section #weather>
    <app-weather></app-weather>
  </section>

  <section #destinations>
    <app-destinations></app-destinations>
  </section>

  <section class="p-t-20" #planatripTemplate>
    <div class="image-wrapper">
      <img src="./assets/images/promo-image.png" alt="promo-image" class="promo-image" />
      <div class="align-bottom-left">
        <div class="trip-header"> plan a trip </div>
        <div class="trip-details"> Make your vacation the most </div>
        <div class="trip-details"> memorable one </div>
      </div>
    </div>
  </section>

  <section #quote>
    <app-quote></app-quote>
  </section>
</div>
