.topnav {
  overflow: hidden;
  margin: auto;
  width: 80%;
}

.navbar {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu {
  padding: 0px 15px 0px 15px;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
}

.welcome-template {
  overflow: hidden;
  margin-top: 20px;
  margin: auto;
  width: 80%;
}

@media only screen and (max-width: 768px) {
  .topnav {
    width: 90%;
    font-size: 12px;
  }
}
