.footer-background {
  background-image: linear-gradient(to right, #000, #133357);
  min-height: 150px;
  height: auto;
  padding: 10px;
  color: #fff;
}

.header {
  font-size: 18px;
  font-weight: bold;
}

.menu-block {
  font-size: 16px;
  padding-top: 15px;
}

.footer-block {
  padding: 20px;
  font-weight: 400;
}

.footer-body {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: 60% 40%;
}

.areas-grid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.disclaimer {
  padding: 20px;
}

@media only screen and (max-width: 768px) {
  .footer-body {
    display: block;
  }
  .disclaimer {
    width: 100%;
  }
  .areas-grid {
    grid-template-columns: auto;
  }
}
